ch03/horse-or-human.zip
ch03/inception_v3.h5
ch03/rps-test-set.zip
ch03/rps.zip
ch03/validation-horse-or-human.zip
ch03/horse-or-human/*
ch03/rps/*
ch03/rps-test-set/*
ch07/glove.zip
ch07/glove/glove.twitter.27B.25d.txt
ch10/my_dir/*
ch11/my_dir/*